body {
  color: #272727;
  max-width: 650px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0 auto;
  padding: 0 16px;
}

footer {
  background-color: crimson;
  padding: 16px;
  margin: 10px;
  color: #272727;
}
